---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/#' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>ClipThread</title>
  </head>
  <body>
    <div class='p-20'>
      <h2 class='font-mono font-bold text-lg py-4'>Twitch clips</h2>
      <iframe
        class='rounded-lg shadow-lg shadow-zinc-700'
        src='https://clips.twitch.tv/embed?clip=SpeedyGrotesqueFinchGOWSkull-le0edhlWh7u7SpmS&parent=localhost'
        height='360'
        width='640'
        allowfullscreen>
      </iframe>

      <p class='text-lg text-justify align-baseline max-w-xl max-h-xl mt-8'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Pulvinar
        pellentesque habitant morbi tristique senectus et netus. Nisl pretium
        fusce id velit ut tortor pretium.
      </p>
    </div>
  </body>
</html>
